{{extend 'layout.html'}}
{{block head}}
{{end}}

<style>
#lol_background {
    background-image: url('{{=URL('static', 'images', args="lol-backdrop.png")}}');
    background-size: contain;
}
</style>



    <div class="full_div " id="lol_background">
        <div class="article_build container">
            <div class="article twothirds compressible">
                <div class="article_header compressible">
                    <span class="article_title "> Jhin is The Best </span>
                    <img class="article_title_design " src={{=URL('static', 'images', args="header_pattern.png")}}>
                    <span class="article_date "> 4/4/4444</span>
                </div>
                <div class="article_body">
                    <div class="article_img "> Image Goes Here</div>
                    <div class="article_author"> by JHIN</div>
                    <div class="article_content ">test</div>

                </div>


            </div>

            <div class="more_articles quarter compressible">
                <div class="related_article white"> Related Articles</div>

                <div class="more_article_img "> img </div>
                <div class="more_article_title "> title </div>
                <div class="more_article_content"> description</div>


            </div>


        </div>

    </div>

