{{extend 'layout.html'}}

{{block head}}
 <script src="{{=URL('static', 'js/vue.js')}}"></script>
{{end}}


<style>
#csgo_background {
    background-image: url('{{=URL('static', 'images', args="csgo_background.png")}}');
    background-size: cover;
}
</style>

<div class="top_pad full_div container" id="csgo_background">
  <div id="vue-div" class="display:none">
  <!-- Here goes your main HTML code. -->

           <div class="image_container">
            <!-- Put here the code to display the images -->
            <ul  class="center_articles container">

               <span v-for="article in articles" >
              <li v-if="article.game == 'csgo' " class="display_article  btn lifted padded container">

                  <div class="reduce_quart quarter">
                    <img  src="{{=URL('static', 'images', args="csgo-icon.png")}}"/>
                </div>

                  <div class="three_margin threequarters">
                    <i v-on:click="add_fav_article(article.index)" id="favorite_button" class="fa fa-heart"></i>
                    <div> <h6>${article.title}</h6> </div>
                    <div> <span class="author_font">by ${article.author}</span> </div>
                    <div class="content_margin"> <span class="content_font">${article.description}</span> </div>
                    <div> Game: ${article.game}</div>
                  </div>


              </li>
               </span>

            </ul>
          </div>


  </div>
</div>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>