<!--Modified from: https://www.w3schools.com/howto/howto_css_signup_form.asp-->
{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>



<form  id="vue-div" style="border:1px solid #ccc">
  <div class="container">
    <h1>Add an article</h1>
    <p>This form will allow you to upload an article onto the website.</p>
    <hr>

    <label for="title"><b>Title</b></label>
    <input type="text"  v-model="title_holder" placeholder="Enter Title" name="title" required>

    <label for="author"><b>Author</b></label>
    <input type="text" v-model="author_holder" placeholder="Enter Author" name="author" required>

    <label for="content"><b>Article</b></label>
    <input type="text" v-model="content_holder" placeholder="Your content here" name="content" required>



    <label for="game"><b>Related Game</b></label>
      <input type="radio" name="game" value="csgo" v-model="game_holder">CS:GO<br>
      <input type="radio" name="game" value="league" v-model="game_holder">League of Legends<br>
      <input type="radio" name="game" value="smash" v-model="game_holder" >Smash<br>
      <input type="radio" name="game" value="starcraft" v-model="game_holder">Starcraft<br>
      <input type="radio" name="game" value="streetfighter" v-model="game_holder" >Street Fighter<br>
    </label>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn" v-on:click="add_article()" >Submit</button>
    </div>
  </div>
</form>


<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
</style>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>


