{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>

{{end}}

 <style>
#lol_background {
    background-image: url('{{=URL('static', 'images', args="loledit.png")}}');
    background-size: contain;

}
</style>

 <div id="vue-div" class="display:none">
  <!-- Here goes your main HTML code. -->
  <!-- TEST BUTTON -->
  <button><a href="{{=URL('default', 'form')}}"> Create an article entry</a></button>
    </div>

      <!--Only logged in users who are creators can create new articles-->
      {{if auth.user is not None:}}
      <div v-if="is_creator">
        <button><a href="{{=URL('default', 'form')}}"> Create an article entry</a></button>
      </div>
      {{pass}}

      <!--Display the slideshow (currently an image for placeholding)-->
      <div class="slideshow container">
          <img class="slideshow" style = "width: 100%" src="{{=URL('static', 'images', args="ow-back.png")}}" />
      </div>


        <!-- Put here the code to display the articles -->

        <div class="articles_container">
          <!-- Column 1 -->
          <div class = "twothirds">
          <ul v-for="article in articles" class="center_articles container padded">

            <li id="lol_background"class="display_article btn lifted half">
                <a href="{{=URL('default', 'article')}}"> Article</a>

                <img class="img_size" src="{{=URL('static', 'images', args="starcraft.png")}}" />
                <div> Title: ${article.title} </div>
                <div> Author: ${article.author} </div>
                <div> Content: ${article.content} </div>
                <div> Game: ${article.game}</div>
            </li>

          </ul>
        </div>
        <!-- Column 2 -->
        <div class = "twothirds">
        <ul v-for="article in articles" class="center_articles container padded">

          <li id="lol_background"class="display_article btn lifted half">
              <a href="{{=URL('default', 'article')}}"> Article</a>

              <img class="img_size" src="{{=URL('static', 'images', args="starcraft.png")}}" />
              <div> Title: ${article.title} </div>
              <div> Author: ${article.author} </div>
              <div> Content: ${article.content} </div>
              <div> Game: ${article.game}</div>
          </li>

        </ul>
      </div>
        </div>

</div>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
